[data-testid="stSidebar"][aria-expanded="true"] > div:first-child {
    width: 500px;
}
[data-testid="stSidebar"][aria-expanded="false"] > div:first-child {
    width: 500px;
    margin-left: -500px;
}